.mainContainer
{
    width:100%;
    margin:0 auto;
    padding:5px;
}

.img_checkin
{
    width:100%;
    background-image: url("/assets/images/af_pattern_bg.png");
    padding:2px;
}

.center_div
{
    margin:0 auto;
    width:180px;
 }

.label_checkin
{
    line-height:40px;
    color: white;
    text-align:center;
    position:relative;
    font-size:16px;
    left:25%;
}

.headerSpace
{
    height:35px;
    width:100;
    display:none;
 }

.formContainer
{
    margin:0 auto;
    max-width: 275px;
    position:relative;
    padding-bottom:15px;
   
}

.font_title
{
    text-align:center;
    width:100%;
    font-weight:normal;
    font-size:2.0em;
    color:#003145;
    padding:3px;
    font-family: 'Florencesans SC Exp';
    font-weight: bold;
    font-style: normal;
    
}

.details 
{
   padding: 10px;
   padding-right:5px;
   color:#767676;
    margin:0 auto;

} 

.font_detail{
 
     font-weight: normal;
     color:#767676;
     font-style: normal;
}
.form-label{
    color:#003145;
    font-style: normal;

}
.submit_btn
{
   color:#767676;
   font-weight: 500;
   margin:0 auto;
    padding-bottom:5px;
    width:140px;
    min-width: 50%;
    position:relative;

}
.btn{
background-color: red;
 font-style: normal;
}
.alert-cls
{
       font-weight:normal;
       color:red;
       font-style: normal;
}
.passengerCls
{
  
    width:100%;
    background-image: url("/assets/images/af_pattern_bg.png");
    color:white;
    padding-top:20px;
}
.passengerDetail-cls
{
    font-weight:bold;
    font-style: normal;
}
@media (min-width: 500px) {
    .formContainer {
      border:1px solid #767676;
    }
    .headerSpace{
        display:block;
    }
}