<div class="mainContainer">
    <div class="img_checkin" role="banner">
        <div class="center_div">
            <label class="label_checkin">CHECK-IN</label>
        </div>
    </div>
    <div class="headerSpace"></div>
    <div class="formContainer">
        <section>
            <div class="center_div font_title">RETRIEVE YOUR</div>
            <div class="center_div font_title">BOOKING</div>
            <div class="center_div font_title">-</div>
        </section>
        <div class="details font_detail">
            <p role="contentinfo">You can find your booking by filling out your family name and the booking code in your booking confirmation.</p>
        </div>
        <form [formGroup]="findTripForm" (ngSubmit)="retrieveBooking()" role="form" novalidate>
            <div class="details">
                <div class="form-group">
                    <label class="form-label" for="bookingCode">Booking code</label>
                    <input class="bookingcls form-control" id="bookingCode" type="text" formControlName="bookingCode">
                    <label class="alert-cls" *ngIf="formErrors.bookingCode">{{formErrors.bookingCode}}</label>
                </div>
                <div class="form-group">
                    <label class="form-label" for="familyName">Family name</label>
                    <input class="familycls form-control" name="familyName" type="text" formControlName="familyName">
                    <label class="alert-cls" *ngIf="formErrors.familyName">{{formErrors.familyName}}</label>
                </div>
            </div>
            <div class="submit_btn" role="button">
                <button type="submit" class="btn btn-primary" [disabled]="checkButtonDisabled() ">Retrieve booking</button>
            </div>
        </form>
        <div class="alert-cls" *ngIf="submitWarning">{{submitWarning}}</div>
    </div>
    <div *ngIf="passengerName" class="passengerCls">
        <div>Name of Passenger:<span class="passengerDetail-cls"> {{passengerName}}</span></div>
        <div>Journey type:<span class="passengerDetail-cls"> {{type}}</span></div>
        <div>Origin: <span class="passengerDetail-cls">{{origin}}</span> </div>
        <div>Destination:<span class="passengerDetail-cls"> {{destination}}</span></div>
    </div>
</div>